<!--devise/registration/new.html.erb-->
<div class="out-line">
<% if flash.notice %>
<p class="notice"><%= flash.notice %></p>
<% end %>
<div class="acccount-round">
<h3>新しいアカウントを作成</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <ul>
    <li class="hissu-logo"><%= f.text_field :name, placeholder:"ユーザー名",:class=>"profile-box" %></li>
    <li class="hissu-logo"><%= f.email_field :email, autofocus: true, placeholder: "メールアドレス" ,:class=>"profile-box"%></li>
    <li class="hissu-logo"><%= f.password_field :password, placeholder: "パスワード",:class=>"profile-box" %></li>
    <li class="hissu-logo"><%= f.password_field :password_confirmation, placeholder: "パスワード確認用",:class=>"profile-box" %></li>
  </ul>
  
<ul>
<li><%= f.submit "新しいアカウントを作成" ,:class=>"blue-button"%></li>
<li><%= link_to"既にアカウントをお持ちの方はログイン",:users,:class=>"new-link" %></li>
</ul>
<% end %>
</div>
</div>

<!-- devise/sessions/new.html.erb -->
<div class="out-line">
<% if flash.notice %>
<p class="notice"><% flash.notice %></p>
<% end %>

<div class="out-line-login">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <p class="profile-box" "font-position">ログイン</p>
   <ul>
    <li class="hissu-logo"><%= f.email_field :email, autofocus: true, placeholder: "メールアドレス",:class=>"profile-box" %></li>
    <li class="hissu-logo"><%= f.password_field :password, placeholder: "パスワード" ,:class=>"profile-box"%></li>
</ul>
 

  <ul>
    <li><%= f.submit "ログイン",:class=>"blue-button" %></li>
    <li><%= render"devise/shared/links" %></li>
</ul>
<% end %>
</div>
</div>

<!-- _error.html.erb -->
<% if obj.errors.any? %>
<% obj.errors.full_messages.each do|message| %>
<ul>
  <li><%= message %></li>
</ul>
<% end %>
<% end %>

<!-- _login-logout.html.erb -->
      <div class="partial">
        <% if user_signed_in? %>
        <!--div class="logout">
          <%# link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <!-- 折り畳み -->
          <div class="right-side">
          <div onclick="obj=document.getElementById('open').style; obj.display=(obj.display=='none')?'block':'none';">
            <a style="cursor:pointer;" class="menu-click">▼ クリックで展開</a>
            </div>
            <!--// 折り畳み -->
            
            <!-- 折り畳まれ部分 -->
            <div id="open" style="display:none;clear:both;">
             <ul>
              <li class="user-icon-list">
                <% if @user.img? %>
                　<%= image_tag @user.img.url,:class=>"profile-img" %>
                <% else %>
                  <%= image_tag "/assets/default.jpg", :size => '100x100' %>
                <% end %>　<%#ここの変数定義はまだ終わっていない%>
              </li>
               <li class="user-icon-list"><%= link_to "予約済み一覧", reservations_hotel_index_path %></li>
               <li class="user-icon-list">登録済みルーム一覧</li>
               <li class="user-icon-list"><%= link_to "設定", edit_user_path(current_user) %></li>
               <li class="user-icon-list"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
             </ul>
          </div>
        </div>
        
      <% else %>
        <div class="login">
          <%= link_to "ログイン", new_user_session_path, class: 'post' %>
          <%= link_to "登録する", new_user_registration_path, class: 'post' %>
        </div>
      <% end %>
    </div>

<!-- _error_messages.html.erb -->
<% if resource.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- registrations_controller.rb>
frozen_string_literal: true

class Users::RegistrationsController < Devise::RegistrationsController
   before_action :configure_sign_up_params, only: [:create]
  # before_action :configure_account_update_params, only: [:update]

   GET /resource/sign_up
   def new
    super
   end

   POST /resource
   def create
     super
   end

  # GET /resource/edit
  # def edit
  #   super
  # end

  # PUT /resource
  # def update
  #   super
  # end

  # DELETE /resource
   def destroy
     super
   end

  # GET /resource/cancel
  # Forces the session data which is usually expired after sign
  # in to be expired now. This is useful if the user wants to
  # cancel oauth signing in/up in the middle of the process,
  # removing all OAuth session data.
  # def cancel
  #   super
  # end

   protected

  #If you have extra params to permit, append them to the sanitizer.
  def configure_sign_up_params
    devise_parameter_sanitizer.permit(:sign_up, keys: [:attribute])
   end

  #If you have extra params to permit, append them to the sanitizer.
  def configure_account_update_params
    devise_parameter_sanitizer.permit(:account_update, keys: [:attribute])
  end

  # The path used after sign up.
   def after_sign_up_path_for(resource)
     edit_user_path(resource)
  end

  # The path used after sign up for inactive accounts.
   #def after_inactive_sign_up_path_for(resource)
   #  super(resource)
   #end
end
