<div class="around-line">
  <div class="left-reserve">
    <div class="room-img">
      <% if @room.roompic? %>
      <%= image_tag @room.roompic %>
      <% end %>
    </div>
    <div class="user-icon">
      <% if current_user.img? %>
      <%= image_tag current_user.img.url %>
      <% else %>
      <%= image_tag "/assets/default.jpeg", :size => '100x100',:class=>"profile-img" %>
      <% end %>
    </div>
    <div class="room-area">
    <div class="name-width">
      <%= @room_info.roomname :class=>"room-name" %>
    </div>
    <div class="name-width">
      <%= @room_info.area :class=>"area-name" %>
    </div>
    </div>
    <hr>
    <div class="intro-width">
      <%= @room_info.roominfo :class=>"info-size" %>
    </div>
  </div>
  
  <div class="right-reserve">
    <% form_with url: reservation_path,method: :put do |f| %>
      <ul>
        <li><p>¥</p><%= @reserve.money :class>"money-size" %><p>/日</p></li>
        <li><%= f.label :start,"開始日",:class=>"date-size" %></li>
        <li><%= f.date_field :start,placeholder:"年/月/日",:class=>"date-box" %></li>
        <li><%= f.label :end,"終了日",:class=>"date-size" %></li>
        <li><%= f.date_field :end,placeholder:"年/月/日",:class=>"date-box" %></li>
        <li><%= f.label :persons,"人数",:class=>"date-size" %></li>
        <li><%= f.date_field :persons,:class=>"date-box" %></li>
        <li><%= f.submit "予約する",:class=>"button-box" %></li>
      </ul>
      <%= f.hidden_field :roomname, value: @room.roomname %>
      <%= f.hidden_field :roominfo, value: @room.roominfo %>
      <%= f.hidden_field :money, value: @room.money %>
      <%= f.hidden_field :roompic, value: @room.roompic %>
    <% end %>  
  </div>
</div>